<div class="well chat-box-input" id= "input-box">
  <%= form_for @chat, remote: true do |f| %>
    <div class="form-group">
      <%= f.text_area :body, :placeholder => "message here...", class: 'custom-control chat-box-textarea', required: true, maxlength: 2000 %>
      <%= f.submit 'Send', class: 'btn btn-primary pull-right btn-sm btn-submit' %>
    </div>
    
  <% end %>
</div>