<footer class="footer">
    The <a href="http://www.railstutorial.org/">Shooting Game</a>
    by <a href="http://www.michaelhartl.com/">Me</a>
  

    <ul>
      <li><%= link_to "About", about_path   %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Comments", "#" %></li>
    </ul>
    <div style='float: bottom'>&copy; 2016 CSC 667&nbsp;</div> 
</footer>